<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>My History</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
          integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
          crossorigin="anonymous">

    <style>
    </style>
</head>
<div th:replace="gabinet/navbar ::header"></div>

<body>
<div th:replace="gabinet/navbar ::navbar"></div>
<br />


<!-- User Details Card -->
<div class="container">
    <div class="card-container">
        <div class="card">
            <h5>Zamówienia</h5>
            <table class="table table-bordered table-striped">
                <thead>
                <tr>
                    <th>Numer zamowienia</th>
                    <th>Opis</th>
                    <th>Data odbioru</th>
                    <th>Data zlecenia</th>
                    <th>Akcje</th>
                    <th></th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="order : ${orders}">
                    <td th:text="${order.id}"></td>
                    <td th:text="${order.description}"></td>
                    <td th:text="${order.pickupDate}"></td>
                    <td th:text="${#temporals.format(order.created, 'yyyy-MM-dd HH:mm:ss')}"></td>
                    <td>
                        <!-- Delete Order Button -->
                        <form th:action="@{/profile/myOrders/delete/{id}(id=${order.id})}" method="post">
                            <button type="submit" class="btn btn-danger">Usuń</button>
                        </form>
                        <a th:href="@{/profile/myOrders/orderDetails/{id}(id=${order.id})}">
                            <button type="button" class="btn btn-info">Więcej informacji</button>
                        </a>

                    </td>

                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>


<!-- Add your scripts and other body elements here -->

</body>

</html>
